{% extends "base.html" %}
{% load django_tables2 %}

{% block title %}Text to Learn - {{ block.super }}{% endblock %}

{% block extra_stylesheets %}
    <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}dashboard/stylesheets/dashboard.css" />
{% endblock %}

{% block content %}
    <div class="page-header">
        <h1>Welcome to Text to Learn</h1>
        <p>Text to Learn is a training tool developed for social enterprises in emerging markets. It uses SMS to distribute training materials to users' mobile phones, and it provides social enterprises with a web-based dashboard to upload and send training materials, manage users, and create SMS-based quizzes to assess users' progress.<p>

        {% load staticfiles %}
        <img src="{% static "rapidsms_tut/Logo_main.png" %}" alt="Text to Learn logo"/>
        <img src="http://strongwillstrongwont.tumblr.com/image/84984661014" alt="Text to Learn logo"/>

        <h4>Getting Started<h4>

    </div>
{% endblock %}
