{% extends "training_materials/base.html" %}
{% load url from future %}
{% load forms_tags %}

{% block page %}
    <div class="page_header">
        <h2>Assign Training Material</h2>
    </div>
    <div class="span8">
        <form action="" method="post">
            {% render_form tm_form %}
            {% csrf_token %}
            <div class="submit">
                <input type="submit" name="submit" class="btn btn-primary" value="Assign and Send Notification" />
            </div>
        </form>
    </div>
</div>
{% endblock %}
