{% extends "training_materials/base.html" %}
{% load url from future %}
{% load forms_tags %}

{% block page %}
    <div class="page_header">
        {% if request.get_full_path = "/training_materials/training_materials/add/" %}
            <h2>Add Training Material</h2>
        {% else %}
            <h2>Edit Training Material</h2>
        {% endif %}
    </div>
    <div class="span8">
        <form action="" method="post">
            {% render_form tm_form %}
            {% csrf_token %}
            <div class="submit">
                <input type="submit" name="submit" class="btn btn-primary" value="Save" />

                {% if request.get_full_path != "/training_materials/training_materials/add/" %}
                    <input type="submit" name="submit" class="btn btn-primary" value="Preview" />
                    <input type="submit" name="submit" class="btn btn-primary" value="Delete" />
                {% endif %}
            </div>
        </form>
    </div>
</div>
{% endblock %}
